<h1>Listing all of the recipies you've created</h1>

<% @recipes.each do |recipe| %>
    <h3>
        <a href="/recipes/<%= recipe.id %>"> Name: <%= recipe.name %></a>
        <br>
        Ingredients: <%= recipe.ingredients %>
        <br>
        Cook Time: <%= recipe.cook_time %>
        <br>
        <br> 
    </h3>
<% end %>