<h1>Welcome to the Recipe Creator!!!</h1>
<h3>Please enter the following:</h3>
<form method="POST" action="/recipes">
    <p>
        Recipe name: <input type="text" name="name">
        <br>
        Recipe Ingredients <input type="text" name="ingredients">
        <br>
        Recipe Cook Time: <input type="text" name="cook_time">
        <br>
        <input type="submit" value="Submit">
    </p>
</form>