<body>
    <h1>Create a Recipe!</h1>
    <p>
        <form action="/recipes" method="post">
            <label for="recipe_name">
               Name: <input type="text" id="recipe_name" name="name">
            </label><br>
            <label for="recipe_ingredients">
                Ingredients: <input type="text" id="recipe_ingredients" name="ingredients">
            </label><br>
            <label for="recipe_cook_time">
                Cooktime: <input type="text" id="recipe_cook_time" name="cook_time">
            </label><br>
            <input type="submit" value="Submit">
        </form>
    </p>
</body>